@import "tailwindcss";

body {
    background-color: #301d79;
}

.text-hover-yellow:hover {
  color: #e4e42c;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@keyframes progress {
    0% {
        width: 0%;
        opacity: 1;
    }
    50% {
        width: 100%;
        opacity: 0.5;
    }
    100% {
        width: 0%;
        opacity: 1;
    }
}

/* Global styles can go here, but removing the conflicting body background */